# =========================
# DeepSeek Configuration
# =========================

DEEPSEEK_API_KEY=your_api_key_here

# Model
DEEPSEEK_MODEL=deepseek-chat

# API Base URL
DEEPSEEK_BASE_URL=https://api.deepseek.com

# =========================
# Unity Compiler
# =========================

UNITY_EDITOR_PATH=D:\Unity\Hub\Unity_Editor\2022.3.62f2c1\Editor\Unity.exe
UNITY_TEST_PROJECT_PATH=D:\Unity\Unity_Project\CodingAgentTest
